button{
 background-color: #f79c1b;
 border-radius:5px;
 border:solid 1px #f79c1b;
 padding:15px 20px 15px 20px;
 cursor:pointer;
 margin:auto;
 font-weight:bold;
 color:#fff;
}

img{
  width:60%;
  height:300px;
}

.flexBox{
  display:flex;
  font-size: 1rem;
  text-align: left;
  padding-left: 5%;
  line-height:200%;
}

.flexBox div{
  width:33%;
  height:auto;
}
