<div class="wrap">
<div class="flexBox">
  <div>
    <img><br>
    이름 : <br>
    레벨 : <br>
    총 승리한 게임 : <br>
  </div>
  <div>
    빠른대전 <br>
    플레이시간 : <br>
    폭주시간 : <br>
    임무기여시간 : <br>
    상위 영웅<br>
    1위 : <br>
    2위 : <br>
    3위 : <br>
  </div>
  <div>
    경쟁전 <br>
    랭크 : <br>
    승리 : 패배 : <br>
    치룬 경기 : <br>
    플레이시간 : <br>
    폭주시간 : <br>
    임무기여시간 : <br>
    상위 영웅<br>
    1위 : <br>
    2위 : <br>
    3위 : <br>
  </div>
</div>
<p><button (click)="back()">뒤로</button></p>
<div>
