div, button{
  color:#fff;
  font-weight:bold;
}

button{
 background-color: #f79c1b;
 border-radius:5px;
 border:solid 1px #f79c1b;
 padding:15px 20px 15px 20px;
 cursor:pointer;
 margin:auto;
}

.flexBox{
  display:flex;
}

.flexBox div{
  width:33%;
  height:auto;
  border: 1px solid red;
}
