@media (max-width: 540px){
 .flexBox{
   overflow-y: scroll;
   height: 300px !important;
   font-size: 0.8rem !important;
 }
}

button, .flexBox{
  font-weight:bold;
}
button{
 background-color: #f79c1b;
 border-radius:5px;
 border:solid 1px #f79c1b;
 padding:15px 20px 15px 20px;
 cursor:pointer;
 margin:auto;
 color:#fff;
}

img{
  width:50%;
  border-radius: 10%;
}

.flexBox{
  display:flex;
  font-size: 1rem;
  padding-left: 5%;
  line-height:200%;
}

.flexBox div{
  width:33%;
  height:auto;
}

.flexBox span:hover{
  color:rgba(255, 20, 147, 1);
}

.loding{
  width:90%;
  height:60%;
}

.logo{
  width: 60%;
  height: 150px;
}
